<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles/wwstyle.css" rel="stylesheet">
    <title>Jose's Writing Works</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Ibarra+Real+Nova&family=Merriweather:ital@1&family=Space+Mono&family=Work+Sans:wght@400;500;800&display=swap');
        </style>
    
</head>
<body>
    
        <div class="wwheader" >
            <h1 class="wwheadertitle"><strong>Welcome to my art - The Author</strong> </h1>
            <nav class="wwnavbar">
                <a class="homenav" href="index.html">My Home Page</a>
                <a class="projectaceznav" href="projectacez.html">Project Acez</a>
                <a class="freeflownav" href="#freeflow">Freeflow Works</a>
            </nav>
            
            
        </div>

        <div class="pdf-container">
            <!-- PDF Viewer 1 -->
            <embed src= "../images/Final_JoseA_Powerless.pdf" type="application/pdf" class="pdf-iframe"></iframe>
            
            <!-- PDF Viewer 2 -->
            <embed src="../images/Final_JoseA_DreamsAndNightmares.pdf" type="application/pdf" class="pdf-iframe"></iframe>
            
            <!-- PDF Viewer 3 -->
            <!-- iframe class="pdf-iframe" src="path/to/your/pdf3.pdf"></iframe>
            
            Add more PDF viewers as needed -->
        </div>
</body>
</html>