<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" href="../styles/pastyle.css">
    <script src="../scripts/main.js" defer></script>
    <script src="https://kit.fontawesome.com/165bef3b11.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="paheader">
        <h1 class="paheadertitle"><strong>Welcome to Project Acez</strong></h1>
        <nav class="panavbar">
            <a class="homenav" href="index.html">My Home Page</a>
            <a class="mywritingworksnav" href="mywritingworks.html">My Writing Works</a>
            <a class="freeflownav" href="#freeflow">Freeflow Works</a>
        </nav>
    </div>
    <div class="display-book">
        <!-- Previous Button -->
        <button id="prev-btn">
            <i class="fas fa-arrow-circle-left"></i>
        </button>

        <!-- Book -->
        <div id="book" class="book">
            <!-- Paper 1 -->
            <div id="page-one" class="paper">
                <div class="front">
                    <div id="f1" class="front-content">
                        <p class="f1-words">This is a space holder for the moment while I test formatting for my flipbook.</p>
                    </div>
                </div>
                <div class="back">
                    <div id="b1" class="back-content">
                        <h1>Back 1</h1>
                    </div>
                </div>
            </div>
            <!-- Paper 2 -->
            <div id="page-two" class="paper">
                <div class="front">
                    <div id="f2" class="front-content">
                        <h1>Front 2</h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b2" class="back-content">
                        <h1>Back 2</h1>
                    </div>
                </div>
            </div>
            <!-- Paper 3 -->
            <div id="page-three" class="paper">
                <div class="front">
                    <div id="f3" class="front-content">
                        <h1>Front 3</h1>
                    </div>
                </div>
                <div class="back">
                    <div id="b3" class="back-content">
                        <h1>Back 3</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Next Button -->
        <button id="next-btn">
            <i class="fas fa-arrow-circle-right"></i>
        </button>
    </div>
</body>
</html>
